<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta content="Pane | {{ name }}" property="og:title" />
    <meta
      content="{{ location }}, ({{ ipv4 }}, {{ ipv6 }})"
      property="og:description"
    />
    <meta content="Pane Lookup" property="og:site_name" />

    <meta
      content="/logo.png"
      property="og:image"
    />

    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/manifest.json" />
    <title>Pane | {{ name }}</title>
    <script defer="defer" src="/static/js/main.js"></script>
    <link href="/static/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
